<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Receipt OCR</title>
        <script type="text/javascript"
                src="{{url_for('static', filename = 'receipt.js')}}">
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/boostrap.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to Receipt OCR</h1>

        <form id="people" action="/receipt/run" method="POST", enctype=multipart/form-data>

            <label for="target">Select Receipt:</label>
            <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)">
            <p><img id="output" width="500" /></p>
            
            <label for="number">Number of people to split between:</label>
            <select name="number" id="number" onchange="getNames()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>

            <div id="namesSection">
                <label for="p1name">Person 1 name:</label>
                <input type="text" id="p1name" name="p1name">
            </div>
            <input type="submit" >
        </form>

        <h1 id="test"></h1>

        <p id="splitter">
            <a href="/results/" target="_self"><button type="button">Crunch</button></a>
        </p>

    </body>
</html>